<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="Input.BlankTemplateFilePath" value="availability\template\Li-Blank.csv"/>
  <add key="Input.EmployeeInfoFilePath" value="availability\template\Personnel.csv"/>
  <add key="Input.AvailabilityFolderPath" value="availability"/>
  
  <add key="Output.FinalScheduleFilePath" value="output\FinalSchedule"/>
  <add key="Output.IterationsFilePath" value="output\Iterations"/>
  <add key="Output.TimeSlotFilePath" value="output\TimeSlot"/>
  <add key="Output.SummaryFilePath" value="output\Summary.csv"/>

  <add key="Settings.Test.NumberOfLevels.EmployeePreferredSlotBonus" value="1"/>
  <add key="Settings.Test.NumberOfLevels.EmployeeNonContinuousSlotPenalty" value="1"/>
  <add key="Settings.Test.NumberOfLevels.EmployeeContinuousSlotBonus" value="1"/>
  <add key="Settings.Test.NumberOfLevels.TimeSlotPreferredNumberBonus" value="1"/>
  <add key="Settings.Test.NumberOfReplicates" value="1"/>
  
  <add key="Settings.SearchDepth" value="2"/>
  <add key="Settings.AdjacentDepthSearch" value="False"/>
  <add key="Settings.MinimumIteration" value="500"/>
  <add key="Settings.MaximumIteration" value="1500"/>
  <add key="Settings.MinimumHn" value="0"/>
  <add key="Settings.MaximumLocalSearchIterations" value="7"/>
  <add key="Settings.MaximumBeamCapacity" value="25"/>
  <add key="Settings.InitialMaximumSidewayStep" value="15"/>
  <add key="Settings.FinalMaximumSidewayStepRatio" value="0.2"/>
  <add key="Settings.MaximumAnnealingDelta" value="-150"/>
  <add key="Settings.AnnealingExponentBase" value="1.03"/>
  <add key="Settings.MaximumRandomRestart" value="1"/>

  <add key="Heuristics.EmployeePreferredSlotBonus" value="15"/>
  <add key="Heuristics.EmployeeNonContinuousSlotPenalty" value="140"/>
  <add key="Heuristics.EmployeeContinuousSlotBonus" value="30"/>
    
  <add key="Heuristics.TimeSlotPreferredNumberBonus" value="35"/>
    
  <add key="Heuristics.TotalHoursAbsoluteMaximumViolationPenalty" value="100000"/>
  <add key="Heuristics.TotalHoursAbsoluteMinimumViolationPenalty" value="100000"/>
  <add key="Heuristics.TotalHoursPreferredBonus" value="1000"/>
  <add key="Heuristics.TotalHoursMaximumBonus" value="500"/>
  <add key="Heuristics.TotalHoursMinimumBonus" value="500"/>

  <add key="Heuristics.TotalHoursPreferredBonusExponentBase" value="1.1"/>

  <add key="Heuristics.TotalHoursMaximumNormalizedHn" value="1000"/>
</appSettings>